body {
      background-color: black;
      text-align: center;
      
}

h1 {
    color: rgb(19, 207, 60);
    text-align: center;
}

p {
    color: rgb(199, 13, 13)
}

/* unvisited link */
a:link {
    color: red;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}

/* When setting the style for several link states, there are some order rules:

a:hover MUST come after a:link and a:visited
a:active MUST come after a:hover  */